<div class="depot_form">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation, 'Confirm' %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.fields_for :address do |ff| %>
    <div>
      <%= ff.label :street_name %>
      <%= ff.text_field :street_name %>
    </div>
    <div>
      <%= ff.label :city %>
      <%= ff.text_field :city %>
    </div>
    <div>
      <%= ff.label :state %>
      <%= ff.text_field :state %>
    </div>
    <div>
      <%= ff.label :country %>
      <%= ff.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'} %>
    </div>
    <div>
      <%= ff.label :zipcode %>
      <%= ff.text_field :zipcode %>
    </div>
    <% end %>

    <div>
      <%= f.submit %>
    </div>
    
  </fieldset>
  <% end %>
</div>
